.btn-pink {
	display: inline-block;
	background-color: pink;
  padding: 16px 36px;
  border-radius: 50px;
	color: white;
	font-weight: bold;
}

.btn-pink:hover {
  background-color: #2c2b2b;
  color: white;
}
